[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dlib = {file = "dlib-19.19.0-cp38-cp38-win_amd64.whl"}
cmake = "*"
face-recognition = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.0"
